@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Inconsolata&family=Nabla&family=Oswald&family=Poppins:wght@400;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Inconsolata&family=Nabla&family=Oswald&family=Poppins:wght@200;400;500&family=Skranji&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  /* background: url("image/abstract-luxury-light-cream-beige-brown-like-cotton-silk-texture-pattern-background.jpg")
    no-repeat;
  background-size: cover; */
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: url("https://images.wallpaperscraft.com/image/single/man_tourist_backpack_114250_1280x720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  font-weight: 200;
}
.navbar ul {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 3px;
  font-family: poppins;
  font-weight: 200;
  text-decoration: none;
  text-decoration-style: none;
  padding-right: 60px;

  font-size: 20px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  position: relative;
  padding: 0px 18px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 0.5px;
}
.navbar ul li a::after {
  content: "";
  position: absolute;
  background-color: #7ec9ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.4s;
}
.navbar ul li a:hover {
  color: #215326;
}
.navbar ul li a:hover::after {
  width: 100%;
}
.logo {
  font-family: poppins;
  font-size: 25px;
  font-weight: bold;

  color: rgb(239, 135, 135);
}
.content {
  color: aliceblue;
  font-size: 20px;
}
.border {
  border-radius: 15px 50px;
  border: 2px solid rgb(225, 185, 65);
  padding: 30px;
  transition: 0.3s;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vh;
  max-height: 500px;
  padding: 350px 150px;
}
.cont {
  font-family: "Comfortaa", cursive;
}
.btn-reg {
  position: relative;
  margin-top: 12px;
  border: 2px solid blueviolet;
  border-radius: 20px;
  padding: 10px 80px;

  background: blueviolet;
  color: aliceblue;
  font-weight: 500;
  transition: 0.4s;
}
.btn-reg:hover {
  color: #ffdcd8;

  transition: 0.4s;
  letter-spacing: 1px;
}
.btn {
  padding-top: 50px;
  padding-left: 80px;
}
.service {
  background: #eae0d5;
  padding-bottom: 50px;
}
.service h2,
.about h2 {
  margin: 0 45%;
  padding-top: 3%;
  font-family: "Skranji", cursive;
  font-weight: 300;
  font-size: 50px;
}
.service .box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 400;
  padding: 25px 100px;
  font-family: "Comfortaa", cursive;
}
.service .p-box {
  margin-left: 100px;
  width: 400px;
}
.service .p-box-2 {
  margin-left: 100px;
  width: 400px;
}
.service .img-box {
  margin-left: 100px;
}

/*       1232345*/

.about {
  background: #d3ebff;

  padding-bottom: 100px;
}
.about .about-all {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 400;
  padding: 25px 100px;
  font-family: "Comfortaa", cursive;
}
.about .box-1 {
  margin-left: 100px;
  width: 400px;
}
.about .box-2 {
  margin-left: 100px;
  width: 400px;
}

.about .img-box {
  margin-left: 100px;
}

.footer {
  background: #5e503f;
  padding: 40px 0px;
}
.footer .contain {
  max-width: 1170px;
  margin: auto;
}
.footer .cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 100px;
}
.footer .cluster .latest h2,
.instagram h2,
.location h2 {
  font-size: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
  font-weight: 300;
  color: rgb(20, 13, 13);

  font-family: "Skranji", cursive;
}
.footer .cluster .location p {
  padding-bottom: 10px;
  transition: 0.3s;
  color: #a0c4e2;
}
.footer .cluster .location p a {
  color: #a0c4e2;
}
.footer .cluster .location p:hover,
.latest .news:hover {
  color: #00810d;
  transform: scale(1.2);
  transition: 0.5s;
}

.footer .cluster .location p i {
  padding-right: 10px;
}

.footer .cluster .latest .news {
  display: flex;
  width: 300px;
  gap: 5px;
  font-size: 12px;
  transition: 0.5s;
  padding-bottom: 10px;
  color: #a0c4e2;
}
.footer .cluster .latest .news p,
.news img {
  transition: 0.3s;
  font-size: 12px;
}
.footer .cluster .latest .news img:hover {
  transform: scale(1.5s);
}
.footer .cluster .instagram {
  margin-top: -70px;
  max-height: 500px;
  max-width: 1400px;
}
.footer .cluster .instagram .imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  /* grid-template-columns: auto auto; */
  gap: 10px;
}
.footer .cluster .instagram .img-div {
  width: 400px;
  height: 150px;
  overflow: hidden;
}
.footer .cluster .instagram .img-div img {
  width: 100%;
  transition: 0.5s;
}
.footer .cluster .instagram .img-div img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.footer .information {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .information a {
  color: #a0c4e2;

  padding-left: 20px;
  font-size: 20px;
}
.footer .information a:hover {
  color: #71b3e9;
}

.footer .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 30px;

  font-size: 50px;
}
.footer .contact i {
  color: black;
  transition: 0.4s;
}
.footer .contact i:hover {
  color: rgb(21, 60, 83);
  transition: 1s;
  transform: rotate(360deg);
}
