@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@200;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inconsolata;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  background: linear-gradient(270deg, #84d9ff, #f7dec1);
  background-size: 400% 400%;

  animation: AnimationName 30s ease infinite;
}
.container {
  width: 550px;
  height: 600px;
  background: rgb(255, 242, 218);
  /* padding: 20px; */
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 20px;

  background: linear-gradient(270deg, #e9e5e3, #f7f7f7);
  background-size: 400% 400%;

  animation: AnimationCon 30s ease infinite;
}
.input-group {
  padding-top: 20px;
}
.input {
  width: 420px;
  height: 50px;
  border-radius: 50px 0px 0px 50px;

  padding-left: 20px;
  padding-right: 15px;
  font-size: 20px;
}
.btn {
  height: 50px;
  width: 90px;
  padding-right: 5px;
  font-size: 21px;
  color: #f7f7f7;
  border-radius: 0px 50px 50px 0px;
  font-weight: 500;
  background: #0075ff;
}
.tasks {
  margin-left: 10px;
  padding-top: 5px;

  font-size: 22px;
  display: flex;
  justify-content: space-between;
}
.task-co {
  margin-top: 30px;
}
.checkBox {
  width: 20px;
  height: 20px;
}
.tasks span {
  padding-left: 10px;
}

.close {
  /* padding-left: 50%; */
  /* padding: 10px; */

  margin-right: 20px;
}
.close button {
  background: rgb(255, 0, 0);
  width: 25px;
  height: 25px;
  font-weight: 800;
  color: aliceblue;
  border-radius: 50%;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationCon {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
