/* * {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
} */
/*-----------------------
----- Basic Styles -----
-------------------------*/

body {
  font-family: Raleway, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #6d6d6d;
  overflow-x: hidden;
}

a {
  color: rgb(80, 214, 232);
  text-decoration: none;
}

a:hover,
a:focus {
  color: rgb(80, 214, 232);
  text-decoration: underline;
}

a:focus,
.btn:focus {
  outline: none;
}

.img-responsive {
  border: 1px solid #ddd;
}

/*-----------------------
----- Typo Styles ------
-------------------------*/
/* h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;
} */
.row {
  display: flex;
  justify-content: space-between;
}
.cont-detail {
  max-width: 700px;
  padding-left: 5%;
}
.big-text {
  font-size: 58px;
  font-weight: 300;
  line-height: 62px;
  letter-spacing: 0.01em;
  word-spacing: 0.15em;
  text-transform: uppercase;
}

.section-title {
  margin-top: -20px;
  margin-bottom: 80px;
  text-align: center;
}

/*-----------------------
----- Layout Styles -----
-------------------------*/

.add-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*-----------------------
----- Color Styles ------
-------------------------*/

/* .color1 .service-icon,
.color1.service-item ul li:nth-child(2):before {
  background: #509b9e;
}

.color1 .service-icon:after {
  border: 3px solid #509b9e;
}

.color2 .service-icon,
.color2.service-item ul li:nth-child(2):before {
  background: #f9398c;
}

.color2 .service-icon:after {
  border: 3px solid #f9398c;
}

.color3 .service-icon,
.color3.service-item ul li:nth-child(2):before {
  background: #334959;
}

.color3 .service-icon:after {
  border: 3px solid #334959;
} */

/*------------------
----- Buttons ------
--------------------*/

.btn-color1,
.btn-color2 {
  padding: 10px 30px;
  color: #fff;
  font-size: 21px;
  font-weight: 300;
  background: rgb(80, 214, 232);
  /* outline: none !important; */
  border-radius: 0;
  /* transition: opacity 0.2s ease-out; */
}

.btn-color1 {
  background: #525f9d;
}

.btn-color1:hover,
.btn-color2:hover {
  color: #fff;
  opacity: 0.9;
}

.btn-color1:focus,
.btn-color1:active,
.btn-color2:focus,
.btn-color2:active {
  color: #fff;
}
.btn-color1 .fa,
.btn-color2 .fa {
  margin-right: 15px;
}
.btn-holder {
  text-align: center;
}
.straight {
  border-bottom: 5px solid rgb(80, 214, 232);
  /* background: rgb(56, 239, 245); */
  /* margin: 20px 100px;
  width:200px; height:150px */
}
/*----------------------
----- Contact Styles ----
------------------------*/

#contact {
  background-image: url("../images/bg-contact.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-color: #fff;
}
#contact-form {
  padding-right: 5%;
  /* width: 400px; */
}
#contact-form .form-group label {
  display: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
  text-transform: uppercase;
}

#contact-form.no-placeholder .form-group label {
  display: block;
}

#contact-form .controls {
  padding: 0;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

#contact-form .form-control {
  background: transparent !important;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  height: 56px;
  font-size: 21px;
  line-height: 32px;
  font-weight: 100;
  padding-left: 64px;
  -webkit-transition: border-color 0.3s ease-out;
  transition: border-color 0.3s ease-out;
  border-radius: 2px;
}

#contact-form .form-group {
  position: relative;
}

#contact-form .form-group [class*="fa"] {
  display: block;
  width: 64px;
  position: absolute;
  top: 0;
  left: 5px;
  color: #e5e5e5;
  font-size: 24px;
  line-height: 53px;
  text-align: center;
  font-weight: 300;
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
}

#contact-form.no-placeholder .form-group [class*="fa"] {
  top: 30px;
}

#contact-form .form-control:focus + [class*="fa"] {
  opacity: 1;
}

#contact-form textarea.form-control {
  height: auto;
  max-width: 100%;
  min-width: 100%;
  font-size: 21px;
  line-height: 32px;
  padding-top: 10px;
}

#contact-form .form-control:focus {
  background: #fff;
  border-bottom: 3px solid rgb(80, 214, 232);
  outline: none;
  box-shadow: none;
  -webkit-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
}

#contact-form .error-message {
  padding: 5px 0;
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 14px;
  font-weight: 300;
  color: #ff0000;
  z-index: 10;
}

#contact-form .error-message:before {
  content: "\00d7";
  font-size: 21px;
  line-height: 21px;
  margin-right: 5px;
}

/*----------------------
----- Footer Styles ----
------------------------*/

#main-footer {
  background: #fff;
}

#main-footer p a {
  padding-bottom: 40px;
  font-size: 25px;
  text-decoration: none;
}

#main-footer p {
  text-align: center;
}

.social-links {
  list-style: none;
  margin: 0;
  text-align: center;
  padding-right: 25px;
  margin-bottom: 30px;
}

.social-links li {
  display: inline-block;
  margin: 0 5px;
  border-radius: 3px;
  box-shadow: 0 4px 0 transparent;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.social-links li a {
  display: block;
  color: #fff;
  font-size: 21px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #509b9e;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.social-links li a:hover {
  color: #fff;
  background: rgb(80, 214, 232);
}
