@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Nabla&family=Poppins:wght@200;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: azure;
  font-size: 60px;
  font-family: "Nabla", cursive;

  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  position: absolute;
  top: 35%;
  right: 30%;
  /* padding: 25%; */
}
